modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Application"

[[workflows.workflow]]
name = "Start Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx concurrently \"npx tsx server/index.ts\" \"cd client && npx vite --host 0.0.0.0 --port 5000\""
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 5002
externalPort = 5000

[[ports]]
localPort = 36665
externalPort = 6000

[[ports]]
localPort = 37455
externalPort = 6800

[[ports]]
localPort = 43481
externalPort = 3000

[[ports]]
localPort = 43499
externalPort = 8000

[[ports]]
localPort = 43711
externalPort = 3002

[[ports]]
localPort = 46459
externalPort = 4200

[[ports]]
localPort = 46527
externalPort = 5173

[userenv]

[userenv.shared]
POSTGRES_URL = "postgresql://danhtrinh:MiIkrtq70adcDWXo-6hfow@flaton-19206.j77.aws-ap-southeast-1.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full"
JWT_SECRET = "your-super-secret-jwt-key-change-this-in-production-2024"
